.contacts {
  background-color: $color-white;
  text-align: center;
  padding: 48px 16px 24px 16px;
}

.contacts__header {
  margin-bottom: 40px;
}

.contacts__subtitle {
  margin-bottom: 4px;
}

.contacts__title {
  margin-bottom: 24px;
  color: $text-color-hover;
}
