.features {
  margin: 32px 16px;
}

.features__list {
  text-align: center;
}

.features__item {

}

.features__subtitle {
  color: $color-dark;
  margin-bottom: 8px;
  margin-top: 40px;
  text-align: center;
}

.features__text {
  display: block;
  color: $color-dark;
  font-size: 14px;
  line-height: 1.7;
  margin: 0 auto;
  max-width: 460px;
  text-align: center;
}

.features__pic {
  display: block;
  position: relative;
  z-index: -1;
  top: 100px;
  margin: 0 auto;
  margin-top: -40px;
}
